

.homebanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #040910;
    user-select: none;
    position: relative;
}

.bannerright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.bannerleft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 450px;
    user-select: none;
}

.bannerleft h1{
    margin-bottom: 0.5rem;
    color: #722471;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    font-style: bold;

}

.bannerleft p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #f1f3f2;
    text-align: center;
    width: 80%;
    line-height: 1.5;
}

.bannerleft button{
    padding: 0.8rem 1.5rem;
    border: none;
    outline: none;
    background: #722471;
    color: #f1f3f2;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bannerleft button:hover{
    color: #582583;
    color: #f1f3f2;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.bannerright img {
    width: 100%;
    height: 450px;
    user-select: none;
    animation-name: headerfadein;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transition: opacity 1s ease-in;
  }
  
  @keyframes headerfadein {
    0%   {opacity: 0;}
    100% {opacity: 1;}
  }

@media only screen and (max-width: 850px) {

    .homebanner{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1060px) {
    
        .bannerright{
            width: 100%;
            height: 50%;
        }
    
        .bannerleft{
            width: 100%;
            height: 50%;
        }
    
        .bannerleft h1{
            font-size: 2.5em;
        }
    
        .bannerleft p{
            font-size: 1.5rem;
        }
    
        .bannerleft button{
            font-size: 1rem;
        }
    
        .bannerright img{
            width: 100%;
            height: 250px;
        }
}