.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px 0;
  background-color: #0d0c0e;
}

a#gradient-text
{
    background: linear-gradient(to left, #722471, #3F3373);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-style: bold;
}

.main-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #0d0c0e;
  padding: 5px 0;
}

.main-nav li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.main-nav li img {
  width: auto;
  height: 45px;
  padding: 0 10px;
  background-color: #0d0c0e;
  position: absolute;
  left: 5px;
  top: 5px;
}

.main-nav li a {
  color: #e4e4e4;
  text-decoration: none;
  font-size: 18px;
  font-weight: 50;
  transition: border-bottom 0.1s ease-in-out;
  display: flex;
  align-items: center;
  background-color: #0d0c0e;
  text-transform: capitalize; /* add this line to remove the uppercase */
}

.main-nav li a:hover {
  border-bottom: 2px solid #722471;
}

.sub-nav {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  list-style: none;
  right: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.sub-nav li {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #0d0c0e;
}

.sub-nav li a{
  color: #e4e4e4;
  text-decoration: none;
  font-size: 18px;
  font-weight: 50;
  transition: border-bottom 0.1s ease-in-out;
  display: flex;
  align-items: center;
  background-color: #0d0c0e;
  text-transform: capitalize; /* add this line to remove the uppercase */
}

.sub-nav li img {
  width: auto;
  height: 45px;
  padding: 0 10px;
  background-color: #0d0c0e;
}
.sub-nav li img:hover {
  scale: 1.1;
}
.dropdownbtn {
  background-color: #0d0c0e;
  color: #e4e4e4;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: capitalize; /* add this line to remove the uppercase */
}

.hamburger {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  margin: 0 10px;
  background-color: #0d0c0e;
}

.hamburger img {
  background-color: #0d0c0e;
}


@media only screen and (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .main-nav {
    display: none;
  }

  .sub-nav {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 10px 0;
    background-color: #0d0c0e;
    overflow-x: hidden;
    height: 100vh;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0d0c0e;
  }

  .mobile-nav li {
    display: flex;
    align-items: center;
    background-color: #0d0c0e;
    margin: 10px 0;
  }

  .mobile-nav li img.logo {
    width: auto;
    height: 100px;
    margin: 0 auto;
    background-color: #0d0c0e;
  }

  .mobile-nav li img.discord {
    width: auto;
    height: 45px;
    margin: 0 auto;
    background-color: #0d0c0e;
  }

  .mobile-nav li a {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    transition: border-bottom 0.1s ease-in-out;
    display: flex;
    align-items: center;
    background-color: #0d0c0e;
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
  }
}