.navbar {
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navbar-component-left {
    display: flex;
    align-items: center;
    height: 100%;
}

img#logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

img#logo:hover{
    scale: 1.1;
    cursor: pointer;
}

.navbar-component-right {
    display: flex;
    align-items: center;
    height: 100%;
}

img#discord{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

img#discord:hover{
    scale: 1.1;
    cursor: pointer;
}

.navbar-component-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-component-center ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-component-center ul li {
    list-style: none;
    height: 100%;
}

.navbar-component-center ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar-component-center ul li a:hover {
    border-bottom: #fff 2px solid;
    scale: 1.1;

}


@media only screen and (min-width: 850px) {
  .mobile-nav {
    display: none;
  }
}


@media only screen and (max-width: 850px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .dropdownbtn{
    display: flex;
    align-items: center;
    height: 100%;

    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    background-color: #1a1a1a;
    cursor: pointer;
  }

  .hamburger{
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }

  .hamburger img{
    height: 100%;
    width: 100%;
  }

  .hamburger img:hover{
    scale: 1.1;
    cursor: pointer;
  }

  .navbar-component-center-mobile {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .navbar-component-center-mobile ul {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar-component-center-mobile ul li {
    list-style: none;
    height: 100%;
  }

  .navbar-component-center-mobile ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .navbar-component-center-mobile ul li a:hover {
    border-bottom: #fff 2px solid;
    scale: 1.1;
  }




}



