$white: #ffffff;
$purple: #722471;
$logincolor: #722471;
$loginhover: #3F3373;
$gradient-first: #722471;
$gradient-second: #3F3373;

* {margin: 0px; padding: 0px; border: 0px; border-radius: 0px;}

.navbar-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-nav {
    display: flex;
    align-items: center;
    ul {
      display: inline-flex;
      align-items: center;
      justify-content: left;
      list-style: none;
      margin-left: 20px;
      margin-top: 20px;
      li {
        display: flex; /* Add this line */
        align-items: center; /* Add this line */
        margin-right: 20px;
        a {
          color: $white;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s ease-in;
          border-radius: 15px;
          &:hover {background: linear-gradient(to left, $gradient-first, $gradient-second);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;};
            font-weight: 700;
            font-style: bold;
          &.focused {
            background: linear-gradient(to left, $gradient-first, $gradient-second);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-style: bold;
          };
        }
        .desktop-logo{
          width: auto;
          height: 50px;
          margin-right: 20px;
        }
        .mobile-logo{
          display: none;
          width: auto;
          height: 50px;
          margin-right: 20px;
        }
      }
    }
  }
  .navbar-subcomponent-right {
    ul {
      display: inline-flex;
      align-items: center;
      justify-content: right;
      list-style: none;
      margin-top: 20px;
      li {margin-right: 20px;
        a {
          color: $white;
          text-decoration: none;
          font-size: 18px;
          font-weight: 700;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s ease-in;
          border-radius: 15px;
          }
          a#ip{
            color: $white;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s ease-in;
          background-color: $logincolor; color: $white;
          border-radius: 15px;
          &:hover {background-color: $loginhover; color: $white;}
        }
        a#signin{
          color: $white;
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          padding: 10px 20px;
          cursor: pointer;
          transition: all 0.3s ease-in;
          border-radius: 15px;
          &:hover {background: linear-gradient(to left, $gradient-first, $gradient-second);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;};
            font-weight: 700;
            font-style: bold;
          &.focused {
            background: linear-gradient(to left, $gradient-first, $gradient-second);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
            font-style: bold;
          };
        }
      }
    }
  }

  @media screen and (max-width: 1068px) {
    .desktop-logo{
      display: none;
      width: 50px;
      height: 50px;
    }
    .mobile-logo{
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }

}
